.container-specialization-detail {
    margin-top: 52px;
    /*height: calc(100vh - 52px);*/
}

.margin-bottom {
    margin-bottom: 10px;
}

.title-result {
    font-weight: bold;
    font-size: 20px;
}

.search {
    border-radius: 90px;
    margin-bottom: 30px;
}

.content-container {
    margin-top: 20px;
}

.avatar-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.doctor-list .ant-avatar {
    width: 80px !important;
    height: 80px !important;
}

.doctor-name {
    font-size: 27px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.choose-time {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.link {
    width: calc(25% - 5px);
}

.link > Button {
    width: 100%;
}

.address-title {
    font-weight: bold;
    font-size: 14px;
}

.address-title > span {
    font-weight: normal;
    font-size: 14px;
}

.schedule-order {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.address-style {
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    padding-left: 25px;
    width: 20%;
}

.more-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-more-info {
    font-size: 16px;
    font-weight: bold;
}

.container-doctor-detail {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 82px;
    padding-bottom: 60px;
}

/*width: 100%;*/
/*max-width: 1240px;*/
/*!* padding-bottom: 60px; *!*/
/*padding: 0 20px;*/
/*margin: 0 auto;*/
/*padding-bottom: 60px;*/

.schedule-container {
    margin: 20px 0;
    padding-bottom: 10px;
    width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.margin-left {
    margin-left: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.general-info-spe {
    align-items: center;
}

.background-image-specialization {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.background-image-specialization::before {
    z-index: 0;
    content: '';
    background-image: url(https://cdn.bookingcare.vn/fo/2019/12/13/120331-co-xuong-khop.jpg) !important;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    position: absolute;
    inset: 0;
}

.margin-top-back-button {
    margin-top: 52px;
}

.general-container-style {
    margin-left: 57px;
    margin-top: 70px;
    margin-right: 57px;
}

.clinic-detail-title {
    font-weight: bold;
    color: #45c3d2;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin-bottom: 10px;
}

.white-background {
    background: white;
}

.doctor-schedule-choose-right {
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    padding-left: 30px;
    margin-right: 20px;
    padding-bottom: 20px;
    width: 50%;
}

.line-top {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.line-bottom {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.color-primary {
    color: #45c3d2;
}

.avatar-clinic {
    object-fit: contain !important;
    background: white;
}

.clinic-detail-container {
    margin-left: 57px;
    margin-top: 52px;
    margin-right: 57px;
}

.padding-top {
    padding-top: 20px;
}

.clinic-img {
    height : 500px;
    margin : 0 auto;
}

.justify-content-center{
    justify-content: center;
}
.padding-bottom-footer{
    padding-bottom: 30px;
}

