@import "../../styles/styles.scss";

.login-background {
  background: linear-gradient(
    45deg,
    rgba(0, 159, 255, 0.8) 0%,
    rgba(236, 47, 75, 0.4) 100%
  );
  height: 100vh;
  .login-container {
    width: 35%;
    margin: auto;
    // border: 5px solid red;
    border-radius: 20px;
    background: white;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 10px 25px #888888;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 550px;

    .login-content {
      padding: 40px;

      .login-text {
        font-weight: 750;
        font-size: 35px;
      }

      .login-input {
        margin: 5px 0;

        .form-control {
          font-size: 0.85rem;
          background-color: rgba(233, 236, 239, 1);
        }

        .label-login {
          margin-bottom: 5px;
          font-weight: 600;

          .forgot-password {
            text-decoration: none;
            font-size: 12px;
            font-weight: 600;
            margin-left: 10px;
          }
        }
      }

      .login-social {
        margin: 1.5rem 0 0.8rem;
      }

      .login-group-icon {
        justify-content: center;

        i.fab.fa-facebook-square.facebook {
          font-size: 27px;
          color: #3333a6;
          margin-right: 15px;
        }
        .google-icon {
          margin-right: 15px;
          height: 100%;
        }
      }

      .btn-login {
        width: 100%;
        height: 40px;
        margin: 35px 0 0;
        border-radius: 15px;
        outline: none;
        border: none;
        background: linear-gradient(
          45deg,
          rgba(236, 47, 75, 0.4) 0%,
          rgba(0, 159, 255, 0.8) 100%
        );
        color: rgb(255, 255, 255);
        font-weight: 600;
      }

      .text-other-login {
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        margin-top: 10px;
      }
    }
  }
}
